/*
    Author: Manhattan Calabro
*/

dialog {
    width: 400px;
    border-radius: 5px;
    border-color: rgb(0 0 0 / 0.3);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);

    margin: auto;
    padding: 20px;

    line-height: 1.4;
}

.warning-popup {
    margin: 5px;
}

.warning-container {
    display: flex;
    justify-content: space-evenly;
}