/*
    Author: Manhattan Calabro
*/

#content-box {
    width: auto;
    height: auto;
    border: 10px solid lightgrey;
    border-radius: 10px;

    display: grid;
    margin: 0 auto;
    margin-top: 60px;
}

.slot-box {
    display: flex;
    border: 1px solid red;
}

.pokemon-img {
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;

    /* I'm just going to manually limit the size here, since all the images use the same dimensions anyways :/ */
    width: 96px;
    height: 96px;
}

.info-box {
    display: grid;
    border: 1px solid blue;
}

.input-box {
    display: flex;
    border: 1px solid green;
}

#status-message {
    color: red;
    font-weight: bold;
}

.type-stat-box {
    display: flex;
    border: 1px solid orange;
}

.stat-box {
    display: grid;
    border: 1px solid magenta;
}

.type-box {
    display: grid;
    border: 1px solid purple;
}

.type-img {
    width: 100px;
}

.effective-box {
    display: grid;
    border: 1px solid greenyellow;
}

.weak-box {
    display: grid;
    border: 1px solid red;
}

.immune-box {
    display: grid;
    border: 1px solid blue;
}

.resist-box {
    display: grid;
    border: 1px solid green;
}